.names {
    padding: 8px 10px;
    border: none;
    border-bottom: 2px solid #ccc;
}

.name2 {
    background-color: #eee;
    border: 2px solid #ddd;
    padding: 8px;
    border-radius: 5px 0px 5px 0px;
}
p {
    background-color: green;
    color: white;
    width: 400px;
    font-size: 20px;
    border: 2px dashed red;
    padding: 30px;
    margin: 40px;
}